:root{
    --primarycolor:darkgoldenrod; 
}
body{
    margin: 0;
}

#header{
    margin:auto;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    background-color: var(--primarycolor);
    height: 15vh;
    padding: 1rem 1rem;

}


#txt{
    display: block;
    margin:1rem 3rem;
    padding:1rem 2rem;
    height: 17vh;
    width: 80%;

}
#output-txt{
border:2px solid black;
height: 17vh;
margin: 1rem 3rem;
padding: 1rem 3rem;
width:80%;


}
#btn-click{
block-size: auto;
text-align: center;
padding:0rem 3rem;
margin: 1rem 3rem;
max-width: 200px;
color: white;
background-color: var(--primarycolor);
}
footer{
    text-align: center;
    padding: 2rem;
    display:block;
    margin: 0;
    background-color: var(--primarycolor);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    

}
